/* Violet Spark Style Guide */

body{
  font-family: 'Titillium Web', sans-serif;
}

.socialMedia {
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
}

.twitter {
  background-color: #1da1f2;
}

.github {
  background-color: #633;
}

.linkedin {
  background-color: #006fa6;
}

.email {
  background-color: #37a84c;
}

.icon {
  height: 100px;
  width: 100px;
}