/* Violet Spark Style Guide */

body{
  font-family: 'Titillium Web', sans-serif;
  color: #444;
  margin: 2%;
}

.socialMedia {
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  background-color: #6136a0;
}

.socialMedia .username {
  color: #FFF;
  text-align: center;
  margin-bottom: 10px;
}
/*
.material-icons.md-100 { font-size: 100px; }*/

.icon {
  height: 100px;
}

.icon.md-100{
  font-size: 100px;
  color: #FFF;
}